header {
    background-color: black;
    height: 55px;
    left: 0px;
    top: 0px;
    width: 100%;
}

header,
ul {
    float: left;
    line-height: 40px;
}

header,
ul,
li {
    color: white;
    float: left;
    font-size: 18px;
    list-style: none;
    padding-right: 20px;
}

main {
    padding-top: 5px;
    padding-bottom: 20px;
}

h1 {
    padding-left: 180px;
}

h3 {
    padding-left: 10px;
    padding-top: 50px; /*?*/
}

h2 {
    font-size:30px;
    color: red;
}

.confirm {
    margin: 0 auto;
    background-color: #f1f1f1;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    padding-top: 10px;
    width: 650px;
}

.confirm p {
    margin: 5px;
    margin-left: 80px;   
}

.space-around {
    margin-left: 100px; /*入力内容をスペース開けて表示*/
}

.mail , .account {
    margin-left: 55px;
}

.pw , .code {
    margin-left: 86px;
}

.gender {
    margin-left: 137px;
}

.zyuusyo {
    margin-left: 50px;
}


form {
    display: inline-block; /*サブミット横並び指定*/
}

.submitt{
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 5px 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
    margin-left: 100px;
    color: white;
    background-color: lightgray;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.submit{
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 5px 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
    margin-left: 50px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.complete {
    margin: 180px;
    margin-left: 350px;/* 「regist_complete.php」用*/
}

.submit3 {
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 5px 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 530px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    border-bottom: 2px solid gray;/* 「regist_complete.php」用*/
}

footer {
    background-color: black;
    bottom: 0px;
    clear: left;
    color: white;
    height: 55px;
    left: 0px;
    line-height: 60px;
    text-align: center;
    width: 100%;
}

/*「list.php」用 */
table {
    width: 100%;
    border-collapse: collapse;　/*セルのボーダー表示形式を指定 */
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) { /*一部の要素のみ背景色を変更*/
    background-color: #f2f2f2; 
}

.search-table {
    width: 1250px;
}

.submi {
    font: 10px;
    padding: 5px 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 1115px;
    margin-bottom: 30px;
    color: black;
    background-color: lightgray;
    border-radius: 5px;
}
