header {
    background-color: black;
    height: 55px;
    left: 0px;
    top: 0px;
    width: 100%;
}

header,
ul {
    float: left;
    line-height: 40px;
}

header,
ul,
li {
    color: white;
    float: left;
    font-size: 18px;
    list-style: none;
    padding-right: 20px;
}

main {
    padding-top: 5px;
    padding-bottom: 20px;
}

h3 {
    padding-left: 10px;
    padding-top: 50px; /*?*/
}

form {
    margin: 0 auto;
    background-color: #f1f1f1;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    padding-top: 10px;
    width: 650px;
   
}

form div {
    padding: 15px;
    padding-left: 80px;
}

.text {
    padding: 3px;
    margin-left: 100px; /* BOXの列合わせたい 1つづつ指定?*/
}

.maill {
    padding: 3px;
    margin-left: 55px; /* BOXの列合わせたい 1つづつ指定?*/
}

.pw {
    padding: 3px;
    margin-left: 85px;
}

.man {
    margin-left: 135px;
}

.woman {
    margin-left: 30px;
}

.post {
    padding: 3px;
    margin-left: 100px;
}

.prefecture {
    padding: 3px;
    margin-left: 50px;
}

.code {
    padding: 3px;
    margin-left: 83px;
}

.submit{
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 5px 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    margin-left: 150px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.error {
    font-size: 15px;
    color: red;
    padding-top: 0px;
    padding-bottom: 20px;
}

footer {
    background-color: black;
    bottom: 0px;
    clear: left;
    color: white;
    height: 55px;
    left: 0px;
    line-height: 60px;
    text-align: center;
    width: 100%;
}

 /* プレースホルダーテキストの色を変更する為のスタイル*/
::placeholder {
    color: rgba(153,153,153,0.5); /* 透明度の指定*/
}
